<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.facebook.com/igor.leonardo.3194">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/leonardoigor12/?igshid=1dqqn6kzm2794">
                        Instagram
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Site criado com intuito social.           
        </div>
    </div>
</footer>
