<div class="col-md-2" *ngIf="showButton()">
  <button
    mat-raised-button
    (click)="mostrarLegenda()"
    class="btn btn-danger"
  >
    Mostrar Legenda
  </button>
</div>
<div class="main-content">
  <div class="container-fluid">
    <div *ngIf="showLinks()">
      <div class="card">
        <div class="card-header card-header-danger">
          <div class="row">
            <div class="col-md-2">
              <a class="card-title" href="#/occurrence-register"
                >Cadastro de Ocorrência</a
              >
            </div>
            <div class="col-md-2">
              <a class="card-title" href="#/occurrence-search"
                >Ver Ocorrências Por Bairro</a
              >
            </div>
            <div class="col-md-2">
              <a class="card-title" href="#/graph">Gráfico Por Bairro</a>
            </div>
            <div class="col-md-2">
                <button
                mat-raised-button
                (click)="mostrarLegenda()"
                class="btn btn-danger pull-right"
              >
                Mostrar Legenda
              </button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div *ngIf="click == 1">
        <div class="card">
          <img src="assets/img/green-dot.png" width="40" height="20" />
          <h5>Bairro Seguro, nenhuma ocorrência encontrada.</h5>
          <img src="assets/img/blue-dot.png" width="40" height="20" />
          <h5>Bairro contém uma ocorrência registrada.</h5>
          <img src="assets/img/orange-dot.png" width="40" height="20" />
          <h5>Aréa de Alerta, algumas ocorrências encontradas nesse bairro.</h5>
          <img src="assets/img/red-dot.png" width="40" height="20" />
          <h5>Área de Perigo, Muitos encontradas nesse bairro.</h5>
          <div class="card-body">
            <div class="row">
              <button
                mat-raised-button
                (click)="ocultarLegenda()"
                class="btn pull-left"
              >
                Ocultar Legenda
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header card-header-danger">
        <h4 class="card-title">Consulta</h4>
        <p class="card-category">Consulte a Ocorrência</p>
      </div>
      <div class="card-body">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Digite o Endereço aqui..."
            autocorrect="off"
            autocapitalize="off"
            spellcheck="off"
            type="text"
            #search
          />
        </div>

        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker
            [latitude]="latitude"
            [longitude]="longitude"
            [markerDraggable]="true"
            [iconUrl]="iconUrl"
            (dragEnd)="markerDragEnd($event)"
          ></agm-marker>
        </agm-map>
        <h5>Bairro: {{ bairro }}</h5>
        <div *ngIf="bairros.includes(bairro)">
          <div *ngFor="let occurrence of occurrenceList | async">
            <div class="card mt-2" *ngIf="bairro == occurrence.bairro">
              <div class="card-body">
                <h5 class="card-title">Local: {{ occurrence.local }}</h5>
                <p align="left" class="card-text">
                  Protocolo: {{ occurrence.protocolo }}
                </p>
                <p align="left" class="card-text">
                  Tipo de Ocorrência: {{ occurrence.tpOcorrencia }}
                </p>
                <p align="left" class="card-text">
                  Bairro: {{ occurrence.bairro }}
                </p>
                <p align="left" class="card-text">
                  Data: {{ occurrence.data | date: "dd/MM/yyyy" }}
                </p>
                <p align="left" class="card-text">
                  Presença da Polícia: {{ occurrence.temPolicia }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
